@import 'styles/variables';

.day {
	display: flex;
	flex-direction: row;
	width: 11px;
	height: 11px;
	background-color: $grey-20;
	border-radius: 8px;

	&:hover {
		background-color: $grey-30;
	}
}

.week {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;

	.month_labels {
		font-size: $xs-12;
		color: $grey-60;
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.container {
		display: flex;
		flex-direction: row;
		gap: 2px;
	}
}
