@import '@/styles/variables';

.layout_wrapper {
	display: flex;
	flex-direction: column;
	padding: 0% 4% 0% 4%;
	height: 100vh;
}

.children_layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 32px;

	.logo {
		max-width: fit-content;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		color: $grey-98;
	}
}

.button {
	font-size: 0.8rem;
	background-color: $grey-15;
	color: $grey-98;
	text-align: center;
	text-decoration: none;
	border: $grey-border;
	border-radius: 4px;
	padding: $btn-padding;
	cursor: pointer;
	transition: background-color $ease-out;

	&:hover {
		background-color: $btn-2nd-hover;
	}
}
