@import "@/styles/variables";

.input {
	font-family: "Inter";
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
	padding: 12px;
	height: 32px;
	border: none;
	color: #f6f6f6;
	background-color: transparent;
	caret-color: $placeholder;
	caret-shape: block;

	&::placeholder {
		color: $placeholder;
		opacity: 1;
	}

	&:focus {
		outline: none;
		caret-shape: block;
	}
}
