// colours
$offblack: #141414;
$offwhite: #f6f6f6;

// components
$primary-btn: #3360f7;
$primary-btn-hover: hsl(226, 82%, 52%);
$btn: #242424;
$btn-hover: #313131;
$btn-padding: 8px 12px 8px 12px;
$border-stroke: 1px #454545 solid;

// typography
$placeholder: #5c5c5c;

// animation
$ease-out: 0.225s;
