@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.center {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

//--Form Layout
.form {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.input {
	justify-self: center;
	align-self: center;
}

.question {
	font-weight: 700;
	font-size: 1.4rem;
}
