@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.main {
	padding-left: 5%;
}

.nav {
	margin-top: 32px;
}

.logo {
	font-weight: 700;
	text-transform: uppercase;
}

//--Form Layout
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question {
	font-weight: 700;
	font-size: 1.4rem;
}
