@import "@/styles/variables";

.form {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: space-around;
	max-width: 311px;
	width: 100%;

	.form_header {
		text-align: center;
	}
}

.input_group {
	display: flex;
	flex-direction: column;

	.input {
		max-width: 420px;
		height: 44px;
		margin-bottom: 16px;
		border-radius: 4px;
		border: $border-stroke;
		background-color: transparent;
		color: white;
		padding-left: 8px;
		padding-right: 8px;

		&::placeholder {
			color: $placeholder;
			opacity: 1;
		}
	}
}

.button_group {
	display: flex;
	flex-direction: column;
	max-width: 311px;

	.button {
		font-size: 14px;
		color: $offblack;
		height: 44px;
		border: none;
		border-radius: 4px;
		margin-bottom: 16px;
	}

	.button:first-child {
		color: $white;
		background-color: rgb(65, 103, 226);
	}
}

.signup_text {
	font-size: 14px;
}

.signup_link {
	font-size: 12px;
	margin-left: 8px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: $btn;
	border: 1px #454545 solid;
	border-radius: 4px;
	padding: $btn-padding;
}
